*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    
}

#heading{
    text-align: center;
    font-size: xx-large;
    font-family: serif;
    margin-top: 10px;
}
#maindiv{
 
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
}

#vidiodiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:70% ;
    width: 30%;
    border: 2px solid black;
    flex-wrap: wrap;
}
#videoshow{
    width: 100%;
    height: 80%;
    padding: 5px;

}
#strbtn{
    
    padding-left: 15px;
    padding-right:15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius:10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: rgb(185, 65, 225);
    font-size: medium;
    font-weight: 500;
}

#closebtn{
    padding-left: 15px;
    padding-right:15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius:10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: red;
    font-size: medium;
    font-weight: 500;
}
#Capture{
    padding-left: 15px;
    padding-right:15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius:10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: blue;
    font-size: medium;
    font-weight: 500;
}
img{
    width: 300px;
    height: 300px;
    padding: 3px;
  
}
#photodiv{
    width: 100%;
}

@media (max-width: 768px) {
    #vidiodiv {
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
    }

    button {
       
        margin: 5px 0;
    }
}
